<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>Cts2EditorServlet</servlet-name>
    <servlet-class>mayo.edu.cts2.editor.server.Cts2EditorServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Cts2EditorServlet</servlet-name>
    <url-pattern>/cts2editor/cts2Editor</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Cts2Editor.html</welcome-file>
  </welcome-file-list>

</web-app>
